{% extends "base.html" %} 

{% block title %}Airport{% endblock %} 

{% block content%}


<h1 align="center"> Airport </h1>
<div id='chart' class='chart'”></div>
<div class="dropdown">
  <form class="ey" method="post" action="/airports">
      <h2>Choose The Airport:</h2>
      <select name="selected_value" id="airportDropdown">
          <option value="None">Select Airport</option>
      </select>
      <br>
      <input type="submit" value="Submit">
  </form>
</div>

<div id="plot" class="plot">
  <div class="plot"></div>
  <div class="table">{{ table_html|safe }}</div>
</div>

<script>
  // Array of airports
  var airports = ["SLC", "ATL", "FLL", "MIA", "MCO", "MSP", "LAX", "LAS", "DFW", "DEN", "CLT", "PHL", "PHX", "BOS", "IAH", "SAN", "SEA", "SFO", "ORD", "BWI", "DTW", "EWR", "JFK", "LGA", "DCA"];

  // Function to populate the dropdown with airports
  function populateDropdown() {
    var dropdown = document.getElementById("airportDropdown");

    // Clear existing options
    dropdown.innerHTML = '<option value="None">Select Airport</option>';

    // Populate the dropdown with airports
    for (var i = 0; i < airports.length; i++) {
      var option = document.createElement("option");
      option.value = airports[i];
      option.text = airports[i];
      dropdown.add(option);
    }
  }

  // Call the function to populate the dropdown on page load
  populateDropdown();
</script>
<script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
<script type='text/javascript'>
  let graphs = {{graphJSON | safe}};
  let plot = {{plotJSON | safe}};
  Plotly.plot('chart',graphs,{});
  Plotly.plot('plot',plot,{});
</script>
{% endblock content%}